---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Source Sans Pro', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #fff;
$background-color: #282C34;
$background-img: url("/imgs/background-lg.jpg");
$background-img-iphone-6s: url("/imgs/background-md.jpg");
$background-img-iphone-4s: url("/imgs/background-xs.jpg");
$background-size: 100% auto;
$background-repeat: no-repeat;
$brand-color:      #286090;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-iphone-4s:     400px;
$on-iphone-4s-l:   500px;
$on-iphone-6s:     600px;
$on-iphone-6s-l:   800px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin media-query-orientation($orientation) {
    @media only screen and (orientation: $orientation) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
